{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="main note">
        <div class="jumbotron" style="background-color: #fff6f4">
            <h1 class="display-3">Hello, this is about page!</h1>
            <br><br>
            <p class="lead">2349520w@student.gla.ac.uk</p>
            <p class="lead">2359448y@student.gla.ac.uk</p>
            <p class="lead">2411335z@student.gla.ac.uk</p>
            <p class="lead">2359514z@student.gla.ac.uk</p>
            <br><br>
            <hr class="my-4">
            <p>Welcome to our website!</p>
        </div>
    </div>

    </body>
{% endblock %}
</html>